/*header*/
@import url('../css/style.css');
*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: fit-content;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position:relative; 
}

.logo img{
    height: 100px;
    width: 155px;
}

header {
    background: transparent;
    border-bottom: none;
}
.fundo, .blur-fundo {
    position: absolute;
    top: 0;
    left: 0;
    height: 102%;
    width: 102%;
    z-index: -1;
}

.fundo {
    object-fit: cover;
    object-position: center ;
    border-radius: 0 0 0 0;
}

.blur-fundo {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0; 
    padding: 0; 
    margin-top: 2%;
    position: relative;
}




img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3% 0 0 3%;
    filter: brightness(80%);
}

.cadastro {
    display: flex;
    gap: 0px;
    width: 99%;
    justify-content: center;
}

/*body*/


.cadastro_body,
.slaamigo {
    padding: 80px;
    width: 550px;
    height: 635px;
    background-color: rgb(7, 7, 19);
    border-radius: 0 3% 3% 0;
    box-sizing: border-box;
    float: left;
    margin-bottom: auto;
    margin-top: auto;
    
}
.slaamigo {
    border-radius: 3% 0 0 3%;
    /* border-left: 2px solid #0071eb;
    border-top: 2px solid #0071eb;
    border-bottom: 2px solid #0071eb; */
    padding: 0PX;
    
}
form {
    display: flex;
    flex-direction: column;
    
}


.cadastro_body h2 {
    font-size: 2rem;
    color: #fff;
    
}

/*inputs*/
label {
    padding: 8px 10px;
}
.cadastro_body input{
    height: 50px;
    width: 100%;
    color: #737373;
    background-color: #333; 
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}
.cadastro_body input:hover {
    background-color: #444;
}

.input_box {
    margin-bottom: 25px;
}

.termos .checkbox{
    width: 15px;
}

.termos{
    display: flex;
    font-size: 12px;
    
}




/*botão*/
.cadastro_body .submit {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #fca311;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
    border: none;
   
}
.cadastro_body .submit:hover {
    background-color: #FFB02F;
    cursor: pointer;
}

label {
    color: #ffffff;

}


@media (max-width:1110px) {
    .cadastro_body, .slaamigo {
        width: 50%;
    }
}
@media(max-width:768px) {
    .slaamigo {
        display: none;
    }
    .cadastro_body {
    width: 80%;
    
    }

    label {
        color: transparent;
    }
    #termos-txt {
        color: #fff;
    }

    
}

@media(max-width:550px) {
    .cadastro_body {
    width: 95%;
    height: fit-content;
    padding: 30px 20px 30px 20px ;
    }

  
}


