<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../assets/js/endereco.js"></script>
    <link rel="icon" href="../assets/img/logo-cabecalho.png" type="image/png">
    <link rel="stylesheet" href="../assets/css/endereco.css">
    <title>Cadastro de Endereço</title>
</head>
<body>
    <img src="../assets/img/endereco-fundo.jpeg" alt="" class="fundo">
    <div class="blur-fundo"></div>
    <!-- header -->
    <header>
        <div class="logo">
            <a href="./home.html">
            <img src="../assets/img/logo-cinnexus.png" alt="">
        </a>
        </div>

        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navegacao">
            <a href="./home.html">Voltar</a>
        </nav>
    </header>

    <!-- body -->

    <section>
        <div class="cadastro">
            <div class="slaamigo">
                <img class="img-cadastro" src="../assets/img/box-surpresa.jpeg" alt="" class="cadastro-imagem">
            </div>
            <div class="cadastro_body">
                <div class="cadastro_box">
                    <h2>Cadastre seu endereço</h2>
                    <h3>Receba uma box dos seus filmes e séries favoritas</h3>
                    <form>  
                       
                        <label for="lname" >Salvar como</label>
                        <input type="text" name="" id="title"  placeholder="ex: 'Minha Casa' ">  
                    
                        <label for="lname" >CEP</label>
                        <input type="text" name="cep" id="cep" placeholder=" ex: 04538-133">

                        <label for="lname" >Rua</label>
                        <input type="text" name="address" id="address" placeholder="Informe a rua">


                        <label for="lname" >Número</label>
                        <input type="text" name="numero" id="number" placeholder="ex: 123">

                        <label for="lname" >Complemento</label>
                        <input type="text" name="complement" id="complement" placeholder="ex: Casa1/Apto 2b">

                        



        
                        <div>
                            <input type="button" class="submit" value="Cadastrar Endereço" onclick="endereco()">
                        </div>
                    </form>
                </div>
        </div>
    </div>
</section>


</body>
</html