<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/img/logo-cabecalho.png" type="icon">
    <title>Cinnexus</title>
    <link rel="stylesheet" href="../assets/css/home.css">

</head>
<body>
    <div class="nave">
        <nav class="navbar navbar-expand-lg navbar-light cor1">

                <a class="logo" href="#"><img src="../assets/img/logo-cinnexus.png" alt="" ></a>

                <button id="logoutButton">SAIR</button>                                

        </nav>
    </div>

<!-- corpo da pagina -->
    <section class="endereco-link">
        <img src="../assets/img/endereco-fundo.jpeg" alt="">
        <div class="link-endereco">
        
            <h2>Faça Seu cadastro de endereço</h2>
            <h3>Receba mensalmente uma box surpresa sobre os seus filmes e séries favoritos</h3>
            <a href="./endereco-usuario.html" class="cadastro-endereco-link">Cadastro de endereço</a>
            <a href="./lista-endereco.html">Acessar meus endereços</a>
       
        </div>
    </section>
    <div class="text">
        <h2>Filmes</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/filme1.jfif" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/filme2.jfif" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/filme3.jfif" alt="..." class="img-fluid">
            </div>  
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/filme4.jfif" alt="..." class="img-fluid">
            </div>   
        </div>
    </div>
<br><br>
    <div class="text">
        <h2>Séries</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/serie1.jfif" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/serie2.jfif" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/serie3.jfif" alt="..." class="img-fluid">
            </div>  
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/serie4.jfif" alt="..." class="img-fluid">
            </div>   
        </div>
    </div>
<br><br>
    <div class="text">
        <h2>Documentários</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/doc1.jfif" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/doc2.jfif" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/doc3.jfif" alt="..." class="img-fluid">
            </div>  
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/doc4.jfif" alt="..." class="img-fluid">
            </div>   
        </div>
    </div>
<br><br>
    <div class="text">
        <h2>Animes</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/ani1.jfif" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/ani2.jfif" alt="..." class="img-fluid">
            </div>
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/ani3.jfif" alt="..." class="img-fluid">
            </div>  
            <div class="col-md-3">
                <img src="../assets/img/img-catalogo/ani4.jfif" alt="..." class="img-fluid">
            </div>   
        </div>
    </div>
<br><br>

<script src="../assets/js/logout.js" defer></script>
</body>

</html>